<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="style.css">
<script src="js.js"></script>
<body>


  <h1>- - What's to be done this week? - -</h1>
  <h2>your private weekly task manager</h2>

  <div ng-app="myApp" class="wrapepr" ng-controller="tasks">
    <div id="toDoPane">
      <input type="text" ng-model="task" placeholder="type task to do..."/>
      <select ng-model="day" ng-options="day for day in days">
        <option value="" id="startingOpt" disabled selected>Choose deadline...</option>
      </select>
      <button ng-click="addTask()">ADD</button>
    </div>
    <br><br>
    <div id="toDoList">
      <ol>
      <li ng-repeat="item in taskList">{{item}}</li>
      </ol>
    </div>
  </div>

</body>
</html>