*{
  box-sizing: border-box;
}

body {
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  margin: auto;
  text-align: center;
  font-family: 'Pacifico', cursive;
  color: white;
  text-shadow: 2px 2px 12px rgba(100,100,100,.7);
}

h1{font-size: 60px;}

h2 {font-size: 30px;}

.wrapepr {
  margin: 50px auto 0 auto;
  width: 70%;
}

#toDoPane, #toDoList {
  background: #00cc7a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#toDoPane {
  height: auto;
  padding: 0 10px 10px 10px;
}

#toDoPane, #toDoPane>input, #toDoPane>select, #toDoPane>button, #toDoList {
  border-radius: 5px;
}

input, select {
  height: 40px;
  margin-right: 20px;
  padding: 10px;
  margin-top: 10px;
}



/*select {
   width: 150px;
}*/

#startingOpt {
  display: none;
}

label {
  color: white;
  font-weight: 700;
  margin-right: 10px;
  margin-top: 10px;
}

button {
  height: 40px;
  border: 0;
  background: white;
  color: #00cc7a;
  font-weight: 700;
  padding-left: 10px;
  padding-right: 10px;
  outline: 0;
  position: relative;
  cursor: pointer;
}

#toDoPane>button{
  margin-top: 10px;
}

#toDoPane>button:active {
  top: 1px;
  left: 1px;
  box-shadow: 1px 1px 3px rgb(150, 150, 150);
}

#toDoList {
  min-height: 100px;
  margin-top: 20px;
  padding: 20px;
}

table {
  width: 70%;
}

#toDoList button {
  margin: auto;
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 25px; 
  position: relative;
}

#toDoList button:active {
  font-size: 28px;
}

th {
  cursor: pointer;
  color: white;
}

tr {
  height: 50px;
  margin: 10px;
}

tr>td{
  background-color: white;
  padding: 0 5px 0 5px;
}

tr td:nth-of-type(1){
  padding: 0 10px 0 10px;
}

tr td:nth-of-type(2){
  width: 100px;
  text-align: center;
}

tr td:nth-of-type(3){
  width: 40px;
}
